/3000T_33.csv
/7000T_stack_min.csv
/bank.csv
/Bank.ipynb
/Bank2.html
/bank_3.ipynb
/CMaps
/CMaps.zip
/df_without_poutcome_unknown.csv
/df_with_poutcome_unknown.csv
/extracted_features.csv
/hello.ipynb
/homework.html
/homework.ipynb
/KATECH_DRIVING_DATA_3000.csv
/model_fits
/path.ipynb
/Project.ipynb
/__pycache__
/김형유_신입생세미나 5주차 과제.pdf
/모두_VIF.html
/신입생 세미나 7주차 과제_김형유.ipynb
/신입생세미나 5주차.html
/이상치, 모두_VIF.html
/이상치, 제거_VIF.html
/제거_VIF.html